Com.Shamiraa.Service.Core.Lib/bin
Com.Shamiraa.Service.Core.Lib/obj
Com.Shamiraa.Service.Core.WebApi/bin
Com.Shamiraa.Service.Core.WebApi/obj
Com.Shamiraa.Service.Core.WebApi/appsettings.json
Com.Shamiraa.Service.Core.WebApi/Properties/launchSettings.json
